<section class="w-full bg-light p-5 hero">
    <div class="row mt-sm-5">
      <h1 class="col-sm-12 text-center fw-light">
        Welcome
      </h1>
    </div>
    <div class="row mt-2">
      <a routerLink="../login" class="m-auto mt-2 col-sm-2 col-md-3 col-lg-2 col-xl-1 btn btn-primary">
        Start
      </a>
    </div>
  </section>
  
  <section class="bg-light">
    <div class="row">
      <img src="../../../assets/Startup_Flatline(1)1.svg" alt="image" class="col-9 m-auto col-sm-4 col-lg-4">
      <div class="col-sm-8 col-md-7 col-lg-8 pt-sm-5">
        <div class="row">
          <h3 class="about">
            About
          </h3>
          <p class="about-p">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sequi numquam hic debitis nemo architecto
            illo, nobis quo, perspiciatis quibusdam, fugit dolorum amet aut? Aliquid molestiae tempora laboriosam
            doloribus aliquam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, voluptatem sit
            repudiandae labore ipsa quidem numquam commodi sunt, doloremque illum itaque in architecto reiciendis modi
            atque ducimus rem omnis est!
          </p>
        </div>
      </div>
    </div>
  </section>