<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Inventory Ad</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item dropdown" *ngIf="user">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Acount
          </a>
          <ul class="dropdown-menu dropdown-menu-dark bg-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="logout()">Logout</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-item">{{ user.name }}</li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="user">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Inventories
          </a>
          <ul class="dropdown-menu dropdown-menu-dark bg-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="../inventories">Your Inventories</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" routerLink="../inventories/create">Create</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex" *ngIf="!user">
        <a class="btn btn-primary" routerLink="login">Login</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>